<div class="container mt-3">
   <div class="row">
      <div class="col">
         <ul class="list-group">
            <li class="list-group-item bg-primary text-light">Users</li>
            <li class="list-group-item bg-light"><%= link_to "Create New User/Admin", admin_new_user_path, class: 'text-secondary' %></li>
            <% @users.each do |u| %>
            <li class="list-group-item"><%= link_to u.username, user_path(u.id) %></li>
            <% end %>
         </ul>
      </div>

      <div class="col">
         <ul class="list-group">
            <li class="list-group-item bg-primary text-light">Languages</li>
            <li class="list-group-item bg-light"><%= link_to "Add Language", new_language_path, class: 'text-secondary' %></li>
            <% @languages.each do |l| %>
               <% if !l.approved %>
               <li class="list-group-item bg-danger"><%= link_to l.name.capitalize, language_path(l.id), class: 'text-white' %></li>
               <% else %>
               <li class="list-group-item"><%= link_to l.name.capitalize, language_path(l.id) %></li>
               <% end %>
            <% end %>
         </ul>
      </div>

      <div class="col">
         <ul class="list-group">
            <li class="list-group-item bg-primary text-light">Countries</li>
            <li class="list-group-item bg-light"><%= link_to "Add Country", new_flag_path, class: 'text-secondary' %></li>
            <% @nations.each do |n| %>
               <% if !n.approved %>
               <li class="list-group-item bg-danger"><%= link_to n.name, flag_path(n.id), class: 'text-white' %></li>
               <% else %>
               <li class="list-group-item"><%= link_to n.name, flag_path(n.id) %></li>
               <% end %>
            <% end %>
         </ul>
      </div>
   </div>
</div>