<%= form_for @user, :html => {class: 'card', method: :post, controller: 'admin', action: 'create_user'} do |f| %>
<div class="card-body">

   <% if @user.errors.any? %>
      <div class="invalid-feedback mb-3">
         <ul>
         <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
         </ul>
      </div>
   <% end %>

   <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
   </div>

   <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
   </div>

   <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
   </div>

   <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username %>
   </div>

   <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
   </div>

   <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
   </div>

   <div class="form-group">
      <%= f.label :age %>
      <%= f.number_field :age %>
   </div>

   <div class="form-group">
      <%= f.label :skype_username %>
      <%= f.text_field :skype_username %>
   </div>

   <div class="form-group">
      <p>Please select the user's native language.</p>
      <select name="native_language_id">
            <option value="">Please select</option>
         <% Language.all.each do |language| %>
            <option value="<%= language.id %>"><%= language.name.capitalize %></option>
         <% end %>
      </select>
   </div>

   <div class="form-group">
      <p>Please select the language the user is learning.</p>
      <select name="foreign_language_id">
            <option value="">Please select</option>
         <% Language.all.each do |language| %>
            <option value="<%= language.id %>"><%= language.name.capitalize %></option>
         <% end %>
      </select>
   </div>

   <div class="form-group">
      <% if @user.profile_pic.attached? %>
         <%= image_tag @user.profile_pic %>
      <% end %>
   </div>

   <div class="form-group">
      <%= f.label :profile_pic %>
      <%= f.file_field :profile_pic %>
   </div>

   <div class="form-group">
      <p>Is this user an site administrator?</p>
      <select name="user[admin]" id="user_admin">
         <option value="">Please select</option>
         <option value="true">Yes</option>
         <option value="false">No</option>
      </select>
   </div>

   <div class="form-group">
      <%= f.submit "Submit" %>
   </div>
</div>
<% end %>