<div class="container">
   <h1><%= @language.name.capitalize %></h1>

   <p>Is this language tonal?<br>
      <strong><%= @language.pitched ? "Yes" : "No" %></strong>
   </p>

   <p>Does this language have grammatical gender?<br>
      <strong><%= @language.gendered ? "Yes" : "No" %></strong>
   </p>

   <p>Languages spoken in this country:</p>
   <ul>
      <% @language.flags.each do |f| %>
      <li><%= link_to f.name.capitalize, flag_path(f.id) %></li>
      <% end %>
   </ul>

   <%= link_to "Learn more about the #{@language.name.capitalize} language here.", @language.wikipedia_link %>

   <% if current_user.admin == true %>
      <% if !@language.approved %>
      <p class="text-danger mt-4">Language pending approval.</p>
      <% end %>
   <% end %>

   <% if current_user.admin %>
   <div>
      <%= link_to "Edit Language", edit_language_path(@language.id), class: 'btn btn-primary btn-lg mt-3' %>
      <%= link_to "Delete Language", language_path(@language.id), method: :delete, class: 'btn btn-danger btn-lg' %>
   </div>
   <% end %>

   <div class="container mt-1">
   <% if !@language.approved %>
      <%= link_to "Approve #{@language.name}", flag_approve_path(@language.id), class: 'btn btn-success' %>
   <% end %>
   </div>
</div>