<%= form_with model: @user do |f| %>
   <%= f.label :email %>
   <%= f.text_field :email %>

   <%= f.label :password %>
   <%= f.password_field :password %>

   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation %>

   <%= f.label :username %>
   <%= f.text_field :username %>

   <%= f.label :first_name %>
   <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>

   <%= f.label :age %>
   <%= f.number_field :age %>

   <%= f.label :skype_username %>
   <%= f.text_field :skype_username %>

   <p>Please select your native language.</p>
   <%= f.collection_select :native_language_id, Language.all, :id, :name %>

   <p>Please select the language you're learning.</p>
   <%= f.collection_select :foreign_language_id, Language.all, :id, :name %>

   <%= f.submit "Submit" %>
<% end %>