<%= form_for(@user) do |f| %>
   <%= f.label :email %>
   <%= f.text_field :email %>

   <%= f.label :password %>
   <%= f.password_field :password %>

   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation %>

   <%= f.label :username %>
   <%= f.text_field :username %>

   <%= f.label :first_name %>
   <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>

   <%= f.label :age %>
   <%= f.number_field :age %>

   <%= f.label :skype_username %>
   <%= f.text_field :skype_username %>

   <p>Please select your native language.</p>
   <select name="native_language_id">
      <% Language.all.each do |language| %>
         <option value="<%= language.id %>"><%= language.name %></option>
      <% end %>
   </select>

   <p>Please select the language you're learning.</p>
   <select name="foreign_language_id">
      <% Language.all.each do |language| %>
         <option value="<%= language.id %>"><%= language.name %></option>
      <% end %>
   </select>

   <% if @user.profile_pic.attached? %>
      <%= image_tag @user.profile_pic %>
   <% end %>

   <%= f.label :profile_pic %>
   <%= f.file_field :profile_pic %>

   <%= f.submit "Submit" %>
<% end %>