<div class="container">
   <div class="row">
      <div class="col-sm mt-3">
         <h1><%= current_user.id == @user.id ? "Your profile" : "Their profile" %></h1>
      </div>
   </div>
   <div class="row">
      <div class="col-sm">
         <% if @user.profile_pic.attached? %>
            <%= image_tag @user.profile_pic, style: "width: 200px;" %>
         <% else %>
            <p>You don't have a profile pic!</p>
         <% end %>

         <% if current_user.id != @user.id && !Invitation.reacted?(current_user.id, @user.id) %>
            <%= link_to "Send Friend Request", invite_path(@user.id), method: :post, class: 'btn btn-primary' %>
         <% elsif current_user && @pending_invitations.count != 0 %>
            <div class="alert alert-primary" role="alert">
               <%= link_to "You have #{@pending_invitations.count} unread friend requests.", user_invitations_path(current_user.id) %>
            </div>
         <% end %>

         <h3 class="mt-3"><%= @user.username %></h3>

         <p>Skype: <%= link_to @user.skype_username, "skype:#{@user.skype_username}?chat" %></p>

         <p><%= current_user.id == @user.id ? "Your" : "Their" %> native language(s):</p>
         <ul>
         <% @user.native_languages.each do |l| %>
            <li><%= link_to l.name.capitalize, language_path(l) %></li>
         <% end %>
         </ul>

         <p><%= current_user.id == @user.id ? "Your" : "Their" %> foreign language(s):</p>
         <ul>
         <% @user.foreign_languages.each do |l| %>
            <li><%= link_to l.name.capitalize, language_path(l) %></li>
         <% end %>
         </ul>
         
         <% if current_user.admin || current_user.id == @user.id %>
         <%= link_to "Edit Profile", edit_user_path(@user.id), class: 'btn btn-primary btn-lg align-center' %>
         <% end %>
      </div>
   </div>
</div>