<h1>Your Profile</h1>

<% if @user.profile_pic.attached? %>
   <%= image_tag @user.profile_pic, style: "width: 200px; display: block;" %>
<% else %>
   <p>You don't have a profile pic!</p>
<% end %>

<h3><%= @user.username %></h3>

<p><%= @user.skype_username %></p>

<p>Your native language(s):</p>
<ul>
<% @user.native_languages.each do |l| %>
   <li><%= link_to l.name.capitalize, language_path(l) %></li>
<% end %>
</ul>

<p>Your foreign language(s):</p>
<ul>
<% @user.foreign_languages.each do |l| %>
   <li><%= link_to l.name.capitalize, language_path(l) %></li>
<% end %>
</ul>