<%= form_for @flag, :html => {class: 'card'} do |f| %>
<div class="card-body">
   <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
   </div>

   <div class="form-group">
      <%= f.label :nationality %>
      <%= f.text_field :nationality %>
   </div>

   <div class="form-group">
      <%= f.label :wikipedia_link %>
      <%= f.text_field :wikipedia_link %>
   </div>

   <div class="form-group">
      <p>Please select the langauges that are spoken in this country:</p>
      <%= collection_check_boxes(:flag, :language_ids, Language.all, :id, :name) %>
   </div>

   <div class="form-group">
      <%= f.label :flag_pic %>
      <%= f.file_field :flag_pic %>
   </div>

   <div class="form-group">
      <%= f.submit "Submit" %>
   </div>
</div>
<% end %>