<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Lingua Franca</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, skrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <% if request.path != "/signin" %>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Lingua Franca</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="<%= current_user ? home_path : root_path %>">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Friends', user_friends_path(current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to image_tag(current_user.profile_pic, class: 'profile-pic'), user_path(current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, :method => :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', signin_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', signup_path, class: 'nav-link' %>
          </li>
        <% end %>
        </ul>

      </div>

    </nav>
<% end %>

    <%= yield %>
  </body>

</html>